/* 
Courtesy of https: //codepen.io/leemartin/pen/ExPXRzx

https://codepen.io/keithamoss/pen/yLROxwa
*/

.colourPicker {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: none;
	border: 0;
	cursor: pointer;
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0;
}

.colourPicker *:focus {
	border-radius: 0;
	outline: none;
}

.colourPicker::-webkit-color-swatch-wrapper {
	padding: 0;
}

.colourPicker::-webkit-color-swatch {
	border: 0;
	border-radius: 0;
}

.colourPicker::-moz-color-swatch,
.colourPicker::-moz-focus-inner {
	border: 0;
}

.colourPicker::-moz-focus-inner {
	padding: 0;
}
